body {
    background-color: darkgrey;
}

.clock-face {
    width: 100%;
    height: 325px;
    text-align: center;
    vertical-align: middle;
    line-height: 325px;
    font-size: 320px;
}

.clock-button {
    width: 125px;
    height: 50px;
}

.box-timer {
    background-color: #f3f2ef;
    border-radius: 25px;
    width: 850px;
    height: 425px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#center-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

#add-button { }